/*ad styles*/

.smallad--type-offer.smallad--view-mode-full.contextual-region {
    display: flex;
    flex-direction: column;
}

.smallad--type-offer .field, .smallad--type-offer .links {
    position: relative;
    top: -363px;
}

.smallad--type-offer .field.field--name-image {
    top: -18px;
    margin-left: auto;
    width: 460px;
    height: 300px;
}

.smallad--type-offer .field.field--name-image .field__item {
    display: flex;
    justify-content: center;
    float: none;
}
