/*contact styles*/

#edit-name, #edit-mail {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

#edit-name label, #edit-mail label  {
    margin-right: 2rem;
    font-weight: 500;
}

#edit-actions {
    justify-content: flex-end;
}
