/*custom styles */
body {
    background-image: none;
    height: 100vh;
    overflow: hidden;
}

body.path-admin, body.path-node {
    overflow: scroll !important;
}

.dialog-off-canvas-main-canvas {
    height: 100%;
}

#page-wrapper {
    overflow: hidden;
    margin: auto;
    height: inherit;
}

#page {
    height: inherit;
}

#main-wrapper {
    padding-bottom: 160px;
    height: 100%;
    overflow: scroll;
    box-shadow: 0 0 10px 2px #ececec;
}

.site-header, .site-branding {
    min-height: 0;
    background-image: none !important;
}

#header-nav .block-private-message {
    margin-right: 5rem;
    position: relative;
    right: 5px;
    bottom: 1px;
}

.site-branding--bg-white {
    background: none;
}

.block-private-message-notification-block .private-message-page-link {
    text-decoration: none;
    top: 2px;
}

.main-content__container {
    padding-top: 1rem;
}

.site-header__initial, .social-bar {
    display: none;
}

.tabs-wrapper .tabs {
    justify-content: center;
}

.tabs-wrapper .tabs__link {
    background-color: #ffffff;
    border: none;
}

.main-content {
    width: 100%;
}

.site-header__inner__container {
    background-color: #f7f9fa;
    padding-bottom: 1rem;
    padding-top: 0.8rem;
}

.header-nav {
    background-color: #f7f9fa;
}

.primary-nav__menu-item {
    margin-right: 3.5rem !important;
}

.region--secondary-menu {
    align-items: center;
}

.search-block-form {
    margin-right: 1.25rem;
}

@media (min-width: 75rem) {
    [dir="ltr"] body:not(.is-always-mobile-nav) .secondary-nav {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
        margin-left: 0;
    }

    [dir="ltr"] body:not(.is-always-mobile-nav) .secondary-nav:last-child {
        padding-right: 0;
    }
}

.main-content__container {
    padding-top: 3rem;
}

@media (min-width: 75rem) {
    body:not(.is-always-mobile-nav) .primary-nav__menu-link {
        line-height: 0;
    }

    body:not(.is-always-mobile-nav) .primary-nav__menu-item.primary-nav__menu-item--has-children .primary-nav__menu-link--link {
        line-height: 1.5rem;
    }

    body:not(.is-always-mobile-nav) .primary-nav__menu--level-2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    body:not(.is-always-mobile-nav) .primary-nav__button-toggle .icon--menu-toggle {
        background-color: #f7f9fa;
    }

    body:not(.is-always-mobile-nav) .primary-nav__menu-link:focus:before {
        border: none;
    }
}

[dir="ltr"] body:not(.is-always-mobile-nav) .site-footer {
    border-left: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

[dir="ltr"] .site-branding {
    padding-left: 4.25rem;
}

.site-footer {
    position: absolute;
    background: none;
    right: 0;
    bottom: 0;
    left: 0;
}

.site-footer__inner {
    padding-bottom: 0;
    padding-top: 0;
}

.region--footer-top {
    grid-template-columns: none;
    grid-column-gap: 0;
    display: flex;
}

.region--footer_top__inner {
    max-width: 98.125rem;
    margin: auto;
    padding: 3rem 123px;
    background: linear-gradient(180deg, #0c0d0e 0%, #171e23 100%);
}

.site-footer .block__title {
    float: right;
    margin-bottom: 0;
    font-size: 1rem;
}

.site-footer #block-help-menu {
    float: left;
    min-width: fit-content;
}


/*dev*/
#block-wpoprzek-help {
    display: flex;
}

#block-wpoprzek-help .menu--level-1 {
    display: flex;
    margin-top: -5px;
    margin-left: 1.5rem;
}

#block-wpoprzek-help .menu--level-1 .menu__item--level-1 {
    margin: 0 1rem;
    min-width: fit-content;
}

#block-wpoprzek-help .menu--level-1 .menu__item--level-1 a {
    text-decoration: none;
}

div.wallet.summary {
    font-weight: 700;
    font-size: x-large;
    background-color: #ffffff;
}

/*div.wallet.summary :nth-child(3) {*/
/*    display: none;*/
/*}*/
div.wallet.summary .form-item {
    display: grid;
}

div.wallet.summary br {
    display: none;
}

div.wallet.summary .form-item__label {
    font-size: large;
}

div.wallet.summary a {
    font-weight: 600;
    font-size: medium;
}

div.wallet.summary a strong {
    font-weight: 400;
}

div.wallet.summary a.wallet-link {
    text-decoration: none;
}

.views-table {
    width: 100%;
}

.container {
    max-width: none;
}

body:not(.is-always-mobile-nav) .primary-nav__button-toggle .icon--menu-toggle:after {
    top: calc(50% - 4px);
}

.block-search-wide__button {
    height: 3.75rem;
}

.block-search-wide__wrapper {
    max-width: none;
    background: #0d77b5;
}

.block-search-wide__wrapper.is-active {
    height: 6rem;
    border-left: none;
}

.block-search-wide__wrapper.is-active .block-search-wide__container {
    max-width: none;
}

.block-search-wide__wrapper.is-active .block-search-wide__container .search-block-form .form-item {
    background: #0d1214;
}

.block-search-wide__wrapper input[type="search"] {
    height: 6rem;
}

.password-strength__meter {
    width: 282px;
}

.password-strength__indicator {
    background-color: #0d77b5;
}

.password-confirm-message .error {
    color: #b51e0d;
}

.password-confirm-message .ok {
    color: #0d77b5;
}

@media (max-width: 1570px) {
    [dir="ltr"] body:not(.is-always-mobile-nav) .header-nav {
        padding-right: 2rem;
    }
}

@media (min-width: 62.5rem) {
    .sidebar-grid > .site-main {
        grid-column: 2 / 11;
        margin-left: -2.25rem;
    }

    .sidebar-grid .region--sidebar {
        grid-column: 11 / 15;
        border-left: 3px solid #d7e1e8;
        padding-left: 30px;
        margin-top: 52px;
    }
}

@media (min-width: 43.75rem) {
    .region--footer_top__inner > *, .region--footer_bottom__inner > * {
        flex: auto !important;
    }
}

@media (min-width: 2560px) {
    #page-wrapper, .region--footer_top__inner {
        max-width: 135rem;
    }

    #page-wrapper, .region--footer_top__inner {
        max-width: 115rem;
    }
}

#menu-transfer-button {
    padding: 0 1.8rem;
    font-family: metropolis, sans-serif;
    transition: none;
    box-shadow: none;
    background: #0d77b5;
    color: #fff;
    height: 2.8rem;
}

#menu-transfer-button:hover {
    text-decoration: none;
    background-color: #0f6292;
    border-color: #0f6292;
}

a.custom-link-button {
    padding: 1px 1.8rem 0 1.8rem;
    font-family: metropolis, sans-serif;
    transition: none;
    box-shadow: none;
    background: #0d77b5;
    color: #fff;
    height: 2.8rem;
}

a.custom-link-button:hover {
    text-decoration: none;
    background-color: #0f6292;
    border-color: #0f6292;
    box-shadow: none;
    color: #fff;
}

/*int adjustments*/
#block-usefullinks {
    display: flex;
}

#block-usefullinks .menu--level-1 {
    display: flex;
    margin-top: -5px;
    margin-left: 1.5rem;
}

#block-usefullinks .menu--level-1 .menu__item--level-1 {
    margin: 0 1rem;
    min-width: fit-content;
}

#block-usefullinks .menu--level-1 .menu__item--level-1 a {
    text-decoration: none;
}

#block-usefullinks-menu {
    float: left;
    min-width: fit-content;
}

[dir="ltr"] .wide-image {
    margin-top: 0;
    margin-left: 0;
}

div.viz-balance {
    padding: 0;
    margin-top: 2rem;
}

div.viz-balance::target-text {
    display: none;
}

div.scales.positive {
    display: none;
}

#edit-curr-id {
    width: 400px;
}

.wallet .wallet-stats {
    margin-top: 1.5rem;
}

.wallet .form-item {
    display: grid;
}

/*prod adjustments*/
#block-footerusefullinks {
    display: flex;
}

#block-footerusefullinks .menu--level-1 {
    display: flex;
    margin-top: -5px;
    margin-left: 1.5rem;
}

#block-footerusefullinks .menu--level-1 .menu__item--level-1 {
    margin: 0 1rem;
    min-width: fit-content;
}

#block-footerusefullinks .menu--level-1 .menu__item--level-1 a {
    text-decoration: none;
}

#block-footerusefullinks {
    float: left;
    min-width: fit-content;
}

