/*private-message styles*/

#thread-members-input {
    margin-left: 2rem;
}

#edit-actions {
    flex-direction: row-reverse;
}

#edit-actions #edit-submit {
    margin-right: 0;
}

#thread-members-display-container {
    display: flex;
    align-items: center;
}

#thread-members-display-container .private-message-member-display-item {
    margin: 0 0 0 2rem;
    background-color: #0d77b5;
    float: left;
    padding: 0.5rem;
    color: #fff;
    font-weight: 600;
}

#thread-members-display-container .invalid-username {
    background-color: #b51e0d;
}

#thread-members-display-container .private-message-member-display-item .pm-username {
    padding: 4px 10px 4px 3px;
}

#thread-members-display-container .private-message-member-display-item .pm-username-remove-link {
    border-left: solid #fff 1px;
    padding: 4px 4px 5px 10px;
}

#pm-members-autocomplete-results-wrapper {
    left: 37.2344px;
    z-index: 1;
}

#pm-members-autocomplete-results-wrapper .ui-widget.ui-widget-content {
    padding: 5px 12px;
}

aside .block-private-message .block__content a {
    display: inline-block;
    height: 3.375rem;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #0d77b5;
    border: solid 2px #0d77b5;
    border-radius: 0.1875rem;
    background-color: #fff;
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 700;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    padding: 1rem 1.6875rem 0 1.6875rem;
    line-height: 1.125rem;
}
