/*save styles*/

#edit-actions {
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

div.certificate {
    padding: 0 0 1.5rem 0;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    align-items: flex-end;
    /*margin-top: -30px;*/
}

div.certificate .field {
    margin-bottom: 0;
}

div.certificate div.field--type-worth {
    font-size: 180%;
}
