/*smallads styles*/

#views-exposed-form-smallads-directory-page-list {
    display: flex;
    flex-wrap: nowrap;
    FONT-WEIGHT: 100;
    flex-direction: row;
    justify-content: space-between;
}

.form-item-adcats {
    width: 100%;
    padding: 0 12rem 0 1.5rem;
}

#edit_adcats_chosen {
    width: 100% !important;
    height: 54px;
    font-size: 16px;
}

.chosen-container-single .chosen-single {
    color: #797b79;
    border: 1.5px solid #7e96a7;
    border-radius: 3px;
    background: white;
    width: 100%;
    height: 100%;
    padding: 13px 0 0 8px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
}

.chosen-container-single .chosen-single div b {
    margin-top: 13px;
}

.chosen-container .chosen-drop {
    border: 1.5px solid #7e96a7;
    border-radius: 3px;
}

.chosen-container-single .chosen-search input[type="text"] {
    border: 1.5px solid #7e96a7;
    border-radius: 3px;
}

.chosen-container .chosen-results li.highlighted {
    background-image: none;
    background-color: #0d77b5;
}
