<div id="2fa-phone" style="margin-top: -54px; padding-bottom: 3rem;">

    <h2>Smartphone based 2fa setup</h2>
    <p style="margin-top: -20px;">above screenshot presents you 4 links. These links point to software you need to download and install on your smartphone. Pick one of them and install them on your smartphone. This documentation was written with a 'freeOTP' app installed on some not so smartphone (Open 2fa app you have already installed. You need to allow it to access your camera, probably).</p>
    <p>In freeOTP app there is a tiny qr icon in upper right corner. Tap on it. Point your camera to qr code displayed in your web browser. If qr code was recognized by freeOTP application then a warning should be displayed to you like "your token provider has not configured the issuer field, please enter the name of the issuer". That's correct: we did not configure that field. So please give that token a name you understand and the others don't. Do not name it 'wpoprzek.eu' or "mylogin@wpoprzek.eu" or similar.</p>
    <p>While still on freeOTP app: next choose a icon of your choice, next decide if you want that token to be included into smartphone's backup, done.</p>
    <p>While freeOTP is still open tap on icon you already created. A six digit long code should be displayed to you.</p>
    <p>Now please go back to your web browser with smart phone in your hand.</p>
    <p>Insert six digits displayed on smartphone in freeOTP app to your browser, to field named "application verification code" and click on button "save and verify".</p>
    <p>If everything went ok a page like this was displayed: <strong>tfa-setup-completed</strong>.</p>

    <h3>Possible reasons for errors:</h3>
    <ul>
        <li>clock skew. TOTP is time based, your smartphone needs to have its internal clock set accurate. Time zone plays no role here, it's about time difference between servers and your smartphone. Use exactly time!,</li>
        <li>you have waited too long, six-digit code was invalidated in the meanwhile. Try again.,</li>
        <li>camera is dirty. Make clean, try once again,</li>
        <li>smartphone broken, freeOTP error, something else.</li>
    </ul>
    <h3>We provide no support on smartphone issues.</h3>

</div>


https://keepassxc.org/docs/KeePassXC_UserGuide.html
https://www.youtube.com/watch?v=CxGLf9MdgVY
https://freeotp.github.io/
