/*ad styles*/

#smallad-custom {
    display: flex;
    flex-direction: row-reverse;
}

#smallad-col-2 {
    margin-right: auto;
}

#smallad-custom .field {
    display: flex;
    margin-bottom: 0.5rem;
}
