{#
/**
 * @file
 * Default theme implementation to display a smallad.
 * Available variables:
 * depending on what's visible on admin/structure/smallads/manage/TYPE/display
 * - body: Node body or teaser depending on $teaser flag.
 * - owner: the compact view of the owner user
 * - image:
 * - changed: Formatted changed date (use $changed to reformat with format_date()).
 * - categories: the themed list of taxonomy term links output from theme_links().
 * - external_link: a link to further information on another site
 * - comments
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - offer|want| or other smallad type
 *   - smallad--view-mode-[view_mode]:

Other variables:
- type: machine name of bundle e.g. offer, want
- external_link: a link to further information on another site

#}
<!--smallad.html.twig-->
<article{{ attributes }}>
  {{ image }}
  {{ body }}
  {{ expires }}
  {{ categories }}
  {{ external_link }}
  {{ contact }}
  {{ directexchange }}
  {{ indirectexchange }}
  {{ money }}
  {{ links }}
  {{ coordinates }}
  <hr />
</article>
<!--/smallad.html.twig-->
