{#
/**
 * @file
 * Default theme implementation to display a smallad.
 * Available variables:
 * depending on what's visible on admin/structure/smallads/manage/TYPE/display
 * - body: Node body or teaser depending on $teaser flag.
 * - owner: the compact view of the owner user
 * - image:
 * - changed: Formatted changed date (use $changed to reformat with format_date()).
 * - categories: the themed list of taxonomy term links output from theme_links().
 * - external_link: a link to further information on another site
 * - comments
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - offer|want| or other smallad type
 *   - smallad--view-mode-[view_mode]:

Other variables:
- type: machine name of bundle e.g. offer, want
- external_link: a link to further information on another site

#}
<!--smallad.html.twig-->
<article{{ attributes }}>
  <div id="smallad-custom">
    <div id="smallad-col-1">
      <div id="smallad-col-1-image">
        {{ image }}
      </div>
    </div>
    <div id="smallad-col-2">
      <div id="smallad--col-2body">
        {{ body }}
      </div>
      <div id="smallad--col-2expires">
        {{ expires }}
      </div>
      <div id="smallad-col-2-categories">
        {{ categories }}
      </div>
      <div id="smallad-col-2-external_link">
        {{ external_link }}
      </div>
      <div id="smallad-col-2-contact">
        {{ contact }}
      </div>
      <div id="smallad-col-2-directexchange">
        {{ directexchange }}
      </div>
      <div id="smallad-col-2-indirectexchange">
        {{ indirectexchange }}
      </div>
      <div id="smallad-col-2-money">
        {{ money }}
      </div>
      <div id="smallad-col-2-links">
        <strong>Actions:</strong>
        {{ links }}
      </div>
      <div id="smallad-col-2-coordinates">
        {{ coordinates }}
      </div>
    </div>
  </div>
</article>
<!--/smallad.html.twig-->
