<div id="2fa" style="margin-top: -54px; padding-bottom: 3rem;">

    <p style="margin-top: -20px !important; margin-bottom: -30px !important;">Nowadays simple pair of credentials like username and password are considered to be weak. A second authentication factor is required.</p>
    <p style="margin-bottom: -30px !important;">Pair username/password represent a 'something you know' and constitutes first authentication factor.</p>
    <p style="margin-bottom: -30px !important;">Second authentication factor is either something you have (a token, a private key) or something you are (iris scan, fingerprint, DNA sequence).</p>
    <p>Because here at <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> no personal data are stored nor processed authentication factor 'something you are' can not be used. Therefore we stick to 'something you have'.</p>

    <h3>Setup 2fa</h3>
    <p style="margin-top: -20px !important; margin-bottom: 0 !important;">After you set up your account as documented at: <a href="https://www.wpoprzek.eu/public/set-up">Set up Page</a> only one authentication factor is in usage for your account. You was given a grace period of 3 logins to set second authentication factor before your account will be blocked.</p>
    <ul>
        <li><h3>are you still logged in?</h3></li>
    </ul>
    <p style="margin-top: 0 !important;">then please go to tab 'security' of your account, as documented here:</p>

    <img alt="sec-tab" data-entity-type="file" data-entity-uuid="5650b383-fd0d-4d33-9f6c-0d8b3ee80b56" src="/sites/default/files/inline-images/2fa_1.png" />


    <p>When you log in into wpoprzek.eu and are in grace period you will be warned like this. Please, use link provided to you and marked with green arrow. This link will forward you to a page 'security'.</p>
    <ul>
        <li><h3>did you log out in the meantime?</h3></li>
    </ul>
    <p style="margin-top: 0 !important;">No problem. Log in to wpoprzek.eu once again. A warning is displayed: your account still does not have second authentication factor configured. Click on link provided to you in warning message, here marked with green arrow.</p>

    <img alt="no-2fa-yet" data-entity-type="file" data-entity-uuid="f4e20eea-f58e-44e0-ab20-e184e55080ac" src="/sites/default/files/inline-images/2fa_2.png" />

    <p>'security' page displays your actual security status. At the moment you do not have neither 2nd auth factor nor recovery codes, we are about to change it next.</p>

    <img alt="set-up-2fa" data-entity-type="file" data-entity-uuid="1567c381-9a34-4ebd-b7bb-fdee80fbfde0" src="/sites/default/files/inline-images/2fa_3.png" />

    <h2>Set up 2FA</h2>

    <h3>"TOTP" and "Recovery Codes"</h3>
    <ol>
        <li><strong>TOTP:</strong> means time based one time password. Based on shared secret and time stamp a six digit long number gets created every 30 seconds. This six digit long code represents your second authentication factor. More to come later.</li>
        <li><strong>Recovery Codes:</strong> if TOTP got lost, TOTP device is tampered with or stolen, if clock skew causes troubles .... if TOTP does not work you still have a possibility to log in to wpoprzek.eu using old and well known one time passwords, here called 'recovery codes'.</li>
    </ol>

    <h3>Both solutions of second factor of authentication (TOTP and Recovery Codes) need to be created/configured now.</h3>
    <p style="margin-top: -20px !important;">let's start with TOTP: please click link "Set up application" when on page 'security', as documented in screenshot above. You are about to do a potential catastrophic changes now. System demands that you confirm who you are. Please type your password and click on 'confirm': <i>current-password</i>.</p>

    <img alt="current-password" data-entity-type="file" data-entity-uuid="ae61522a-3934-4ae9-8416-9cb8a6a05713" src="/sites/default/files/inline-images/2fa_4.png" />

    <p>Page displayed next is probably the second most important one in whole tutorial. It shows your shared secret and corresponding qr code. Both informations are that crucial that they get displayed only once. Now. And never again.</p>
    <p><strong>Because of importance of this page:</strong> make a screenshot of your web browser and place it in some safe. Or dig a hole somewhere to hide it in a box. We do not have these informations. So backup somehow information provided to you, please. You have been warned.</p>

    <img alt="tfa-display" data-entity-type="file" data-entity-uuid="8a726b57-ec48-4886-84be-b656679b1fa5" src="/sites/default/files/inline-images/2fa_5.png" />

    <p style="margin-bottom: -30px !important;">shared secret of yours is a string of letters and digits, qr code is for smartphones.</p>

    <p>Let above screen open, under any circumstances <strong>DO NOT CLOSE IT</strong>.</p>

    <h3>Do you have backup of above page? Sure? Verify!</h3>

    <p style="margin-top: -20px !important; margin-bottom: -20px !important;">Verified?</p>
    <h3>Good, verify once again.</h3>
    <p>Ok, you have a backup of data provided above.</p>
    <p>If you have a smartphone, keep reading. If you have no smartphone, or you do not want to use your smartphone here then jump to next chapter below titled 'password safe based 2fa setup'</p>

    <h2>Now you need to configure how you'll generate your TOTP. You can choose one (or both) from recommended options:</h2>
    <ul>
        <li><a href="/2fa-phone">smartphone - FreeOTP</a></li>
        <li><a href="/2fa-kpxc">desktop - KeePassXC</a></li>
    </ul>

<!--FreeOTP-->
<!--    <h2>Smartphone based 2fa setup</h2>-->
<!--    <p style="margin-top: -20px;">above screenshot presents you 4 links. These links point to software you need to download and install on your smartphone. Pick one of them and install them on your smartphone. This documentation was written with a 'freeOTP' app installed on some not so smartphone (Open 2fa app you have already installed. You need to allow it to access your camera, probably).</p>-->
<!--    <p>In freeOTP app there is a tiny qr icon in upper right corner. Tap on it. Point your camera to qr code displayed in your web browser. If qr code was recognized by freeOTP application then a warning should be displayed to you like "your token provider has not configured the issuer field, please enter the name of the issuer". That's correct: we did not configure that field. So please give that token a name you understand and the others don't. Do not name it 'wpoprzek.eu' or "mylogin@wpoprzek.eu" or similar.</p>-->
<!--    <p>While still on freeOTP app: next choose a icon of your choice, next decide if you want that token to be included into smartphone's backup, done.</p>-->
<!--    <p>While freeOTP is still open tap on icon you already created. A six digit long code should be displayed to you.</p>-->
<!--    <p>Now please go back to your web browser with smart phone in your hand.</p>-->
<!--    <p>Insert six digits displayed on smartphone in freeOTP app to your browser, to field named "application verification code" and click on button "save and verify".</p>-->
<!--    <p>If everything went ok a page like this was displayed: <strong>tfa-setup-completed</strong>.</p>-->

<!--    <h3>Possible reasons for errors:</h3>-->
<!--    <ul>-->
<!--        <li>clock skew. TOTP is time based, your smartphone needs to have its internal clock set accurate. Time zone plays no role here, it's about time difference between servers and your smartphone. Use exactly time!,</li>-->
<!--        <li>you have waited too long, six-digit code was invalidated in the meanwhile. Try again.,</li>-->
<!--        <li>camera is dirty. Make clean, try once again,</li>-->
<!--        <li>smartphone broken, freeOTP error, something else.</li>-->
<!--    </ul>-->
<!--    <p style="margin-top: 0 !important;">We provide no support on smartphone issues.</p>-->
<!--/FreeOTP-->

<!--KeepassXC-->
<!--    <h3>Password safe based 2fa setup</h3>-->
<!--    <p style="margin-top: -20px;">there are some password safe desktop applications which let you store TOTP secrets and generate TOTP codes.</p>-->
<!--    <p>One of them is <a href="https://keepassxc.org/">KeePassXC</a>. Brilliant and open source. Please follow instructions on</p>-->
<!--    <p>to install it on your desktop. Once installed just create a new entry in KeePassXC Database for a new user, fill required fields and save.</p>-->
<!--    <p>Then set-up TOTP for this user like this:</p>-->

<!--    <img src="keepassxc" alt="keepassxc">-->

<!--    <p style="margin-top: 0 !important; margin-bottom: -30px !important;">in your web browser window: do you still have a session on <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> open?</p>-->
<!--    <p style="margin-top: -20px !important; margin-bottom: -30px !important;">It looks like this one:</p>-->

<!--    <img src="tfa-display" alt="tfa-display">-->

<!--    <p style="margin-top: 0 !important; margin-bottom: -30px !important;">Above: there is a 'shared secret of you' marked with green arrow. This string you need to copy and paste to KeePassXC, to 'secret key' field as displayed here below. copy+paste might not work, for security reasons.</p>-->

<!--    <img src="setup-TOTP" alt="setup-TOTP">-->

<!--    <p style="margin-top: 0 !important; margin-bottom: -30px !important;">when you copied secret key into KeePassXC click please on 'ok' in KeePassXC.</p>-->
<!--    <p style="margin-top: -20px !important; margin-bottom: -30px !important;">now a clock icon is present left of username in KeePassXC</p>-->

<!--    <img src="TOTP-completed" alt="TOTP-completed">-->

<!--    <p style="margin-top: 0 !important; margin-bottom: -30px !important;">please click with right mouse button on that user, select 'TOTP' -> 'show TOTP' from menu</p>-->
<!--    <p style="margin-top: -20px !important; margin-bottom: -30px !important;">None.</p>-->

<!--    <img src="tfa-display" alt="tfa-display">-->

<!--    <p><strong>IMPORTANT:</strong> read from your KeePassXC, from 'timed password' window six digits and type them in your web browser, into field named 'application verification code'. Click on 'verify and save'.</p>-->
<!--    -->

<!--    <p>If you did everything correctly you'll see following information:</p>-->

<!--    <img src="tfa-completed" alt="tfa-completed">-->

<!--    <h3>And that mean, that <strong>You have set up two-factor authentication!</strong></h3>-->
<!--/KeepassXC-->

    <h2>Last resort: recovery codes</h2>
    <p style="margin-top: -20px !important;">if TOTP as second authentication factor does not work then a static list of one time passwords may be generated.</p>
    <p style="margin-top: -20px !important; margin-bottom: 0 !important;">Here it goes:</p>
    <ul>
        <li>log in yourself to <a href="https://www.wpoprzek.eu">wpoprzek.eu</a>, in left menu click on 'account', then click on 'security',</li>
        <li style="margin-bottom: 30px;">as you can see TFA is enabled (green arrow) but there are no recovery codes yet (red arrow). Click on 'generate codes',</li>

        <img alt="security" data-entity-type="file" data-entity-uuid="44bf4a15-162d-43de-91ed-10d7a70bf864" src="/sites/default/files/inline-images/2fa_7.png" />

        <li style="margin-top: 30px;">you are about to do something potentially catastrophic. System demands your password. Type it, click on 'confirm'.,</li>
        <li>a list of 20 recovery codes gets displayed to you. Print them out, store them somewhere off-line (box, tree, hole, do you still remember safe mode of IT operations ?) and then click on 'save codes to account' button,</li>
        <li style="margin-bottom: 30px;">finally a display comes which informs you that two-factor authentication is completed</li>

        <img alt="no-rec-codes" data-entity-type="file" data-entity-uuid="1a252b4c-f0c1-40bf-8369-83bbf60551fd" src="/sites/default/files/inline-images/2fa_8.png" />

    </ul>

    <h2>Congratulations! You're done!</h2>
    <ul>
        <li>account is created,</li>
        <li>two-factor authentication is configured with 2 options - TOTP, either on your smartphone or in some password safe application recovery codes if TOTP is not available</li>
    </ul>

    <h3>You are now authenticated, authorized and verified. Strong authentication is in place, backup is done and hidden somewhere in a box under some tree.</h3>
    <h3>Enjoy <a href="https://www.wpoprzek.eu">wpoprzek.eu</a></h3>
    <div id="2fa-greetings" style="display: flex; flex-direction: column; align-items: flex-end;">
        <p style="margin-bottom: -30px !important;">sincerely Yours,</p>
        <p><a style="box-shadow: none;" href="https://www.wpoprzek.eu">wpoprzek.eu</a> Team</p>
    </div>

</div>


<!--https://keepassxc.org/docs/KeePassXC_UserGuide.html-->
<!--https://www.youtube.com/watch?v=CxGLf9MdgVY-->


<!--<img alt="no-rec-codes" data-entity-type="file" data-entity-uuid="1a252b4c-f0c1-40bf-8369-83bbf60551fd" src="/sites/default/files/inline-images/2fa_8.png" />-->
<!--<img alt="security" data-entity-type="file" data-entity-uuid="44bf4a15-162d-43de-91ed-10d7a70bf864" src="/sites/default/files/inline-images/2fa_7.png" />-->
<!--<img alt="tfa-display" data-entity-type="file" data-entity-uuid="8a726b57-ec48-4886-84be-b656679b1fa5" src="/sites/default/files/inline-images/2fa_5.png" />-->
<!--<img alt="current-password" data-entity-type="file" data-entity-uuid="ae61522a-3934-4ae9-8416-9cb8a6a05713" src="/sites/default/files/inline-images/2fa_4.png" />-->
<!--<img alt="set-up-2fa" data-entity-type="file" data-entity-uuid="1567c381-9a34-4ebd-b7bb-fdee80fbfde0" src="/sites/default/files/inline-images/2fa_3.png" />-->
<!--<img alt="no-2fa-yet" data-entity-type="file" data-entity-uuid="f4e20eea-f58e-44e0-ab20-e184e55080ac" src="/sites/default/files/inline-images/2fa_2.png" />-->
<!--<img alt="sec-tab" data-entity-type="file" data-entity-uuid="5650b383-fd0d-4d33-9f6c-0d8b3ee80b56" src="/sites/default/files/inline-images/2fa_1.png" />-->

