/*styles for transfer page*/
/*in Conditions at the bottom of the page in Pages '*!transfer/transfer' need to be added*/

#edit-payee-0-target-id {
    width: 100%;
}

#edit-description-0-value {
    width: 100%;
    max-width: none;
}

#edit-actions {
    display: flex;
    margin: 0;
    flex-direction: row;
}

#edit-submit {
    margin: 0 0 auto auto;
}

[dir="ltr"] .button {
    margin-right: 0;
}

.first-party-transaction-form {
    width: 100%;
}

#worthWrapper p {
    display: none;
}

#worthSelectWrapper p {
    display: none;
}

#payerWrapper p {
    display: none;
}

#descriptionWrapper p {
    display: none;
}
