<div style="display: none;">
    {{ worth }}
</div>

<div id="payer" style="display: none;">
    {{ payer }}
</div>

<div style="display: flex; flex-wrap: wrap;">
    <!-- payee section -->
    <div id="payeeWrapper" style="display: flex; margin-bottom: 1rem; width: 100%;">
        <div style="margin: auto 1rem auto 0; min-width: 110px;">You'll pay</div>
        <div id="payeeInnerWrapper" style="width: 100%;">
            {{ payee }}
        </div>
    </div>

    <!-- worth section -->
    <div id="worthWrapper" style="display: flex; margin-bottom: 1rem; width: 100%;">
        <div style="margin: auto 1rem auto 0; min-width: 110px;">amount</div>
        <div id="worthIntegerWrapper">
            <input style="width: 120px !important;" type="number" id="worthInteger" max="999999" placeholder="000000" size="6" class="form-number" onkeypress="limitKeypress(event, this.value, 6)">
        </div>
        <div style="margin: auto 7px 7px 7px;">.</div>
        <div id="worthDecimalWrapper">
            <input style="width: 100px !important;" type="number" id="worthDecimal" max="9999" placeholder="0000" size="4" class="form-number" onkeypress="limitKeypress(event, this.value, 4)">
        </div>
        <div id="worthSelectWrapper" style="margin-left: 1rem; width: 100%;">
            <select style="color: #797b79; border: 1.5px solid #7e96a7; border-radius: 3px; background-color: white; width: 100%;" name="worthSelect" id="worthSelect" onchange="onWorthChange(chosenWorthOption = worthSelect.options[worthSelect.selectedIndex].value)">
                <option disabled selected>Please select currency</option>
            </select>
        </div>
    </div>

    <!-- payer section -->
    <div id="payerWrapper" style="display: flex; margin-bottom: 1rem; width: 100%;">
        <div style="margin: auto 1rem auto 0; min-width: 110px;">Pay from</div>
        <div id="payerSelectWrapper" style="display: flex; width: 100%;">
            <select style="color: #797b79; border: 1.5px solid #7e96a7; border-radius: 3px; background-color: white; font-size: 16px; padding-right: 3.375rem; padding-left: 1.125rem; width: 100%;" name="payerSelect" id="payerSelect" onchange="onPayerChange(chosenPayerOption = payerSelect.options[payerSelect.selectedIndex].value)">
                <option disabled selected>Please select wallet</option>
            </select>
        </div>
    </div>

    <!-- description section -->
    <div id="descriptionWrapper" style="display: flex; margin-bottom: 1rem; width: 100%;">
        <div style="margin: auto 1rem auto 0; min-width: 110px;">for</div>
        <div style="width: 100%;">{{ description }}</div>
    </div>
</div>
