<div id="create_account" style="margin-top: -54px; padding-bottom: 3rem;">
    <!--    <h2>Create account</h2>-->

    <p style="margin-top: -20px;"><a href="https://www.wpoprzek.eu">wpoprzek.eu</a> provides self service on user accounts. Procedure described below outlines how to create an account on wpoprzek.eu and enable 2FA ("two factor authentication") on it.</p>
    <p style="margin-top: -20px !important; margin-bottom: 0 !important;">Prerequisites:</p>
    <ul>
        <li>an e-mail account.</li>
    </ul>
    <p style="margin-top: 0 !important; margin-bottom: 10px !important;">Optional:</p>
    <ul>
        <li>a smartphone,</li>
        <li>create a user account,</li>
        <li>visit page <a href="https://www.wpoprzek.eu">wpoprzek.eu</a>,</li>
    </ul>

    <h3>How to set up account</h3>
    <p style="margin-top: -20px !important; margin-bottom: 10px !important;">in an upper right corner of it click on 'log in'</p>

    <img src="create_account_1.png" alt="login">

    <p style="margin-bottom: -30px !important;">Click on tab "create new account".</p>

    <img src="create_account_2.png" alt="create-new-account">

    <p style="margin-top: 10px !important; margin-bottom: 0 !important;">Fill required information:</p>
    <ol>
        <li>e-mail address is required. We will inform you about maintenance windows and similar. No spam. Your e-mail address stays hidden for other users,</li>
        <li>username is required. Please do NOT use e-mail address as your username. If you do, all other users will get informed about it. E-mail addresses stay private unless they are used as login names. Please avoid obvious user names ("administrator", "system", "god", "kgb", "prime.minister" and so on) someone could misunderstand. Please avoid to use user names which could be somehow linked to your real identity. Accounts of such art will be rejected or removed without prior notice,</li>
        <li>your avatar picture is optional,</li>
        <li>set to 'members of this site' as it is,</li>
        <li>you need to allow us to personally contact you,</li>
        <li>You need to accept <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> <a href="https://www.wpoprzek.eu/public/tou">Terms of use</a>,</li>
        <li>click on 'create new account' button when all input is verified.</li>
    </ol>

    <img src="create_account_3.png" alt="input">

    <p style="margin-top: 30px !important;">verify if everything went good. Your web browser should display you this page and you get an e-mail 'pending admin approval'. Please check your 'spam' folder if you found no e-mail from us in your 'inbox' folder.</p>

    <img src="create_account_4.png" alt="approval-pending">

    <p style="margin-top: 20px !important;">staff of wpoprzek.eu verifies your request.</p>
    <p style="margin-top: 0 !important;">you get second e-mail from wpoprzek.eu staff when your request was approved, it looks like this.</p>

    <img src="create_account_5.png" alt="account-approved">

    <p style="margin-top: 30px !important;">please click on link provided to you in e-mail or copy-and-paste it to your web browser. A page similar to this appears. Fill fields needed. Control if both passwords match. Click on 'save' button when verified.</p>

    <img src="create_account_6.png" alt="set-password">

    <p style="margin-top: 30px !important;">verify if your password was saved on wpoprzek.eu. Your browser should show you page like this one:</p>

    <img src="create_account_7.png" alt="password-saved">

    <p style="margin-top: 30px !important;">Your account on wpoprzek.eu is created.</p>
    <p style="margin-top: 0 !important;">But there is no strong authentication set on your account yet. You are permitted to log-in yourself 3 times before your account get locked. To create strong authentication please visit <a href="https://www.wpoprzek.eu/public/2fa">2fa</a> site.</p>
</div>
