<div id="404-error-page">
    <h1>Page not found!</h1>

    <h2>We're sorry, the page you're looking for doesn't exist.</h2>

    <p>Please go back to our <a id="404-error-page-link-home" href="">Home Page</a> or use our <a id="404-error-page-link-login" href="">Login Form</a>.</p>
</div>
