<style type="text/css">p {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}

h2, h3 {
    margin-bottom: -0.5rem !important;
}

ul {
    margin-top: 1.25rem !important;
    margin-left: 4rem !important;
}
</style>
<h2><a href="https://www.wpoprzek.eu">wpoprzek.eu</a> is:</h2>

<ul>
    <li>a mutual settlement platform,</li>
    <li>a bazaar, a.k.a. virtual marketplace,</li>
    <li>an exchange system for short messages</li>
</ul>

<h3>Settlement platform</h3>

<p><a href="https://www.wpoprzek.eu">wpoprzek.eu</a> provides users with mutual settlement services. Settlements rely on
    tokens (a.k.a. "drawing rights", a.k.a. "release orders"). A token represents claim for product or service in amount
    from a token issuer. A bearer of such a token is entitled to demand products or services from token's issuer. Every
    user of mutual settlements platform may emit tokens on <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> for their
    own products and services. Tokens emitted by users are used in mutual settlements between them.</p>

<h3>"On demand" tokens</h3>

<p>Tokens without defined due date represent claims exchangeable for goods and services at any time.</p>

<p>Syntax of "on demand" tokens is:</p>

<pre>
<strong>123.4032 m³ sand by @sandpitowner</strong>
</pre>

<dl>
    <dd>- "123.4032": amount of good/service a bearer is entitled to claim</dd>
    <dd>- "m³": unit of account for a defined good/service</dd>
    <dd>- "sand": name of product/service</dd>
    <dd>- "@sandpitowner": token's issuer name</dd>
</dl>

<h3>"Futures" tokens</h3>

<p>Some types of tokens represent "futures". A "futures" token is redeemable for named good or service from issuer,
    starting at predefined point of time.</p>

<p>Typically tokens of type "futures" represent products or services which do not exist at the time of creation of
    tokens. They allow consumers to order goods and services now and draw them from manufacturer later. Time
    intervals for tokens of type 'futures' are defined as a quarter of a year.</p>

<p>Syntax for "future" tokens is:</p>

<pre>
<strong>123.4032 m³ sand by @sandpitowner +2025Q3</strong>
</pre>

<dl>
    <dd>- "123.4032": amount of good/service a bearer is entitled to claim</dd>
    <dd>- "m³": unit of account for a defined good/service</dd>
    <dd>- "sand": name of product/service</dd>
    <dd>- "@sandpitowner": token's issuer name</dd>
    <dd>- "+2025Q3": Year and quarter the token is going to be redeemed for goods/services by his issuer</dd>
</dl>

<h3>Wallets</h3>

<p>Registered user of <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> owns one wallet. A wallet holds all third-party
    issued tokens collected by user and also provides him with a balance on self issued tokens.</p>

<p>Wallet balances on foreign tokens are positive or equal to zero and represent debt held on foreign goods or services,
    from creditor point of view ("someone owes something to me").</p>

<p>Wallet balances on own issued tokens are negative or equal to zero and represent own debt from a borrower point of
    view ("I owe something to someone").</p>

<h3>Issue tokens</h3>

<ul>
    <li>Every token type has only one issuer.</li>
    <li>The issuer of a given token type creates own tokens out of thin air ("creatio ex nihilo")</li>
    <li>The issuer handles balance of covering tokens he created and sold with products/services he offers at own
        risk.
    </li>
    <li>Coverage ratio for created tokens ( a.k.a. "fractional reserve" ) constitutes exclusive liability of token
        issuer.
    </li>
    <li>Issuer creates tokens during transfer from own wallet,</li>
    <li>Creditor destroys tokens when he transfers tokens back to their issuer.</li>
</ul>

<h3>Token transfers</h3>

<ul>
    <li>are not reversible,</li>
    <li>can not be scheduled,</li>
    <li>can not be aborted</li>
</ul>

<h3>Trade with tokens</h3>

<p>Tokens are subject to transfers between wallets of <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> users.</p>

<p>A sum of positive balances in all wallets for a given token type equals to negative balance in that token displayed
    in wallet of token's issuer.</p>

<p>Therefore, from a settlement platform point of view, an amount of tokens of given kind equals to zero in every point
    of time.</p>

<h3>Visibility of token statistics</h3>

<p>The amount of tokens of given type in circulation represents the sum of issued debt, per issuer and per token. Access
    to the statistics about gross amount of debt remains limited to debtor and his creditors.</p>

<h3>Bazaar</h3>

<p><a href="https://www.wpoprzek.eu">wpoprzek.eu</a> provides users with virtual marketplace. Items may be offered for
    sale ("offer") or may be sought for buy ("want"). All trade items are either of type "product" or "service"</p>

<p>All ads are only accessible to registered and logged-in users of <a
        href="https://www.wpoprzek.eu">wpoprzek.eu</a></p>

<p style="margin-bottom: -1.25rem !important;">Forbidden trade items on <a
        href="https://www.wpoprzek.eu">wpoprzek.eu</a>'s bazaar are:</p>

<ul>
    <li>drugs</li>
    <li>human beings</li>
    <li>pornography</li>
    <li>firearms</li>
    <li>stolen goods</li>
</ul>

<h3>Private messages</h3>

<p><a href="https://www.wpoprzek.eu">wpoprzek.eu</a> provides short text messages functionality. It serves as
    communication help in trades or negotiations.</p>
