<div id="account_set_up" style="margin-top: -54px; padding-bottom: 3rem;">
    <h2>Two Factor Authentication on <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> is required.</h2>

    <h3>First factor of authentication consists of username and password.</h3>
    <p style="margin-top: -20px !important; margin-bottom: -30px !important;">Please visit <a href="https://www.wpoprzek.eu/public/create-account">Create account Page</a> to create your account.</p>
    <p>You are given grace period of 3 logins without second factor of authentication in operation. In that grace period you have to configure second factor of authentication or your account will be blocked.</p>

    <h3>Second factor of authentication consists of time-based "one time passwords" and "recovery tokens".</h3>
    <p style="margin-top: -20px !important; margin-bottom: -30px !important;">Please visit <a href="https://www.wpoprzek.eu/public/2fa">2FA Page</a> to activate strong authentication on your account.</p>
</div>
