<div id="pricelist" style="margin-top: -54px; padding-bottom: 3rem;">

    <h3>We have only few simple rules for maximum transparency.</h3>

    <ol>
        <li>All prices are in 'wpt'.</li>
        <li>Price 1 wpt = 1 oz AG, comex, spot.</li>
        <li>1 wpt is not redeemable in silver.</li>
        <li>The following wpoprzek.eu services are chargeable:
            <ul>
                <li>Monthly account maintenance fee: 0.xxxx wpt,</li>
                <li>Monthly account maintenance fee: 0.xxxx wpt</li>
                <li>Transfer fee: 0.xxxx wpt</li>
                <li>Ad placement fee: 0.xxxx wpt</li>
                <li>Unblocking account fee: 0.xxxx wpt</li>
            </ul>
        </li>
    <li>Monthly fees are debited automatically on the 15th of each month from the user's account.</li>
    <li>If there are not enough 'wpt' tokens in the user's account on 15th day of the month <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> may block the user's account.</li>
    <li>After three months from the date of blocking the account and failure to settle debts to <a href="https://www.wpoprzek.eu">wpoprzek.eu</a>, creditors of the blocked user are informed about the fact that their account has been blocked.</li>
    <li>After six months from the date of blocking the account and failure to settle debts to <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> The account is deleted and the funds accumulated on it are forfeited.</li>
    </ol>
</div>
