<div id="terms_of_use" style="margin-top: -54px; padding-bottom: 3rem;">
    <h2>Terms of Use of <a href="https://www.wpoprzek.eu">wpoprzek.eu</a>.</h2>

    <h3>Purpose</h3>
    <p style="margin-top: -20px;"><a href="https://www.wpoprzek.eu">wpoprzek.eu</a> connects and helps business world to communicate, share and exchange. We link our users, we bring them together, our users share their experiences if they decide to.</p>

    <h3>Liability</h3>
    <p style="margin-top: -20px !important; margin-bottom: -30px !important;">None.</p>
    <p>Services provided on <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> are provided 'as is' without liability for damages or losses they could cause, without compensation of any kind. You are using this service on your own risk.</p>

    <h3>Service exclusion</h3>
    <p style="margin-top: -20px !important; margin-bottom: 0 !important;"><a href="https://www.wpoprzek.eu">wpoprzek.eu</a> does not offer services of any kind to:</p>
    <ul>
        <li>private people,</li>
        <li>societies,</li>
        <li>public sector,</li>
        <li>NGO,</li>
        <li>business entities which act on <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> on behalf of above listed identities (a.k.a. "proxies").</li>
    </ul>

    <h3>Data protection</h3>
    <p style="margin-top: -20px !important; margin-bottom: -30px !important;">None.</p>
    <p style="margin-bottom: -30px !important;">Data protection requirements are deadly serious topic here at <a href="https://www.wpoprzek.eu">wpoprzek.eu</a>. Therefore we do not store your personal data at all. Please do NOT use "<i>firstname.lastname</i>" as your login, please use e-mail addresses not linked to your business.</p>
    <p style="margin-bottom: -30px !important;">Please stay anonymous, even to us: please protect yourself as we protect you by not requiring you to share any information which could disclose your identity.</p>
    <p>Please use "tor browser" whenever possible.</p>

    <h3>Requirements</h3>
    <p style="margin-top: -20px !important; margin-bottom: 0 !important;">A user of <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> is required to provide following information/equipment in aim to use our services:</p>
    <ul>
        <li>e-mail address - all e-mails are unique on wpoprzek.eu. One account = one e-mail address. No exceptions,</li>
        <li>smart phone - is optional, but recommended.</li>
    </ul>

    <h3>Forbidden items:</h3>
    <p style="margin-top: -20px !important; margin-bottom: 0 !important;">On <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> those can not be listed:</p>
    <ul>
        <li>drugs,</li>
        <li>pornography,</li>
        <li>stolen goods.</li>
    </ul>
    <p style="margin-top: 0 !important;">Trespassers, violators and abusers will be banned. Their accounts will be seized with no compensation.</p>
    <p style="margin-top: -30px !important;">No warnings, no yellow cards, no grace periods are in usage on <a href="https://www.wpoprzek.eu">wpoprzek.eu</a>. Misbehaviour causes evaporation.</p>

    <h3>Communication channels:</h3>
    <p style="margin-top: -20px !important; margin-bottom: 0 !important;">We might bother you eventually if:</p>
    <ul>
        <li>our services needs maintenance which is going to affect availability or usability,</li>
        <li>we want something from you,</li>
        <li>we did take a decision which affects you.</li>
    </ul>
    <p style="margin-top: 0 !important; margin-bottom: -30px !important;">Under such circumstances we will inform you via <strong>e-mail</strong>.</p>
</div>
