<div id="2fa" style="margin-top: -54px; padding-bottom: 3rem;">
<!--    We suggest to use <a href="https://keepassxc.org/docs/KeePassXC_UserGuide.html">KeePassXC UserGuide</a>, but if that's not what you want below you can find custom instruction how to set it up for <a href="https://www.wpoprzek.eu">wpoprzek.eu</a>.-->

    <h3>KeePassXC setup</h3>
    <p style="margin-top: -20px;">There are some password safe desktop applications which let you store TOTP secrets and generate TOTP codes.</p>
    <p>One of them is <a href="https://keepassxc.org/">KeePassXC</a>. Brilliant and open source. Please follow instructions on</p>
    <p>to install it on your desktop. Once installed just create a new entry in KeePassXC Database for a new user, fill required fields and save.</p>
    <p>Then set-up TOTP for this user like this:</p>

<!--    <img src="2fa-kpxc_1.png" alt="keepassxc">-->
<!--    dev-->
    <img alt="keepassxc" data-entity-type="file" data-entity-uuid="9784b61f-682d-4f2c-b2c6-23b64959931c" src="/sites/default/files/inline-images/2fa-kpxc_1.png" />

    <p>in your web browser window: do you still have a session on <a href="https://www.wpoprzek.eu">wpoprzek.eu</a> open?</p>
    <p>It looks like this one:</p>

<!--    <img src="2fa-kpxc_2_5.png" alt="tfa-display">-->
    <!--    dev-->
    <img alt="tfa-display" data-entity-type="file" data-entity-uuid="72827db0-af47-4d56-829e-429785293d6b" src="/sites/default/files/inline-images/2fa-kpxc_2_5.png" />

    <p>Above: there is a 'shared secret of you' marked with green arrow. This string you need to copy and paste to KeePassXC, to 'secret key' field as displayed here below. copy+paste might not work, for security reasons.</p>

<!--    <img src="2fa-kpxc_3.png" alt="setup-TOTP">-->
    <!--    dev-->
    <img alt="setup-TOTP" data-entity-type="file" data-entity-uuid="1e7988c9-80ff-4faf-83ca-4bb908ef7ae8" src="/sites/default/files/inline-images/2fa-kpxc_3.png" />

    <p>when you copied secret key into KeePassXC click please on 'ok' in KeePassXC.</p>
    <p>now a clock icon is present left of username in KeePassXC</p>

<!--    <img src="2fa-kpxc_4.png" alt="TOTP-completed">-->
    <!--    dev-->
    <img alt="TOTP-completed" data-entity-type="file" data-entity-uuid="a60dd614-3e29-4ad9-9293-775e675938ce" src="/sites/default/files/inline-images/2fa-kpxc_4.png" />

    <p>please click with right mouse button on that user, select 'TOTP' -> 'show TOTP' from menu</p>
    <p>None.</p>

<!--    <img src="2fa-kpxc_2_5.png" alt="tfa-display">-->
    <!--    dev-->
    <img alt="tfa-display" data-entity-type="file" data-entity-uuid="72827db0-af47-4d56-829e-429785293d6b" src="/sites/default/files/inline-images/2fa-kpxc_2_5.png" />

    <p><strong>IMPORTANT:</strong> read from your KeePassXC, from 'timed password' window six digits and type them in your web browser, into field named 'application verification code'. Click on 'verify and save'.</p>
    <p>following information is to be shown to you:</p>

<!--    <img src="2fa-kpxc_6.png" alt="tfa-completed">-->
    <!--    dev-->
    <img alt="tfa-completed" data-entity-type="file" data-entity-uuid="16695eac-75d2-4289-9a0d-8a6da1ffaf09" src="/sites/default/files/inline-images/2fa-kpxc_6.png" />

    <h3>Well done! You've set up two-factor authentication!</h3>

    <a class="button custom-link-button" href="public/2fa">Go back</a>
</div>
